
<div class="hero-unit">



	<div class="row">
		<div class="span3">
			<img src="img/logo.png" alt="WatCamp"/>
		</div>
		<div class="span7">

			<h1><a href="/">The Great Canadian Day of Podcasting</a></h1>

			<p>Every year, Canadian Podcasters all huddle around their microphones and put out an episode to be
				published on December 1. This website lists the episodes published and lets podcasters <a href="#submit">upload or add
				themselves to the list</a>.<p>
		</div>
	</div>

</div>

<div id="lower">


</div>