<h1>Submit/Post your Episode</h1>

<div class="row">
	<div class="span12">
		<h2>Already Hosted</h2>
		<p>
			If you have already posted your episode, please send an e-mail to <a href="mailto:dayofpodcasting@castroller.com">dayofpodcasting@castroller.com</a> to make sure it gets on the list.
		</p>

		<h2>Phone it In</h2>
		<p>
			Easily contribute to the list by calling the CastRoller voicemail:</p>
		<p align="center" style="font-size:16pt">1-866-577-2278</p>
		<p>Just make sure to say
			your name and that you're posting for the Day of Podcasting. We'll make sure that your voicemail gets posted for all to hear.
		</p>

		<h2>Upload It</h2
		<p>Just follow the steps on Will Spaetzel's SoundCloud dropbox to get your episode uploaded easily to SoundCloud.
		</p>
		<p><a href="https://soundcloud.com/will-spaetzel/dropbox">https://soundcloud.com/will-spaetzel/dropbox</a></p>
		<p>Once Will receives your upload, he'll get it onto this list.</p>

	</div>
</div>

