
<% _.each(model, function(curItem){ %>
 	<div class="row">
 		<div class="span12">
 		<h2><a href="<%=curItem.link %>"><%= curItem.title %></a></h2>
 		<p><%= curItem.description %></p>
 		<p><a href="<%= curItem.enclosure.url %>">Download</a></p>
 	</div>
 	</div>
<% }); %>